{%extends 'base.html'%}

{%block admin_nav%}
<li><a href="/admin">Blogs</a></li>
<li><a href="/admin/message">Message</a></li>
{%endblock%}

{%block contents%}
    <div class="form-wrap">
    <div class="blog-delete"> <a href="/admin/delete/{{blog.id}}" > DELETE </a> </div>
    <form action="/admin/edit/{{blog.id}}" method="POST">
        <h4>Title</h4>
        <input type="text" name="title" id="title" value="{{blog.title}}">
        <br>
        <h4>Cover Photo</h4>
        <input type="text" name="cover" id="cover" value="{{blog.cover}}">
        <br>
        <h4>Intro</h4>
        <textarea rows = "5" cols = "60" name = "intro" id="intro">{{blog.intro}}</textarea>
       <br>
       <h4>Content</h4>
        <textarea rows = "5" cols = "60" name = "content" id="content">{{blog.content}}</textarea>
       <br><br>
        <input type="submit" value="SAVE" id="submit-button">
    </form>
    </div>

{%endblock%}